<section class="panel">                        
    <header class="panel-heading"><i class="icon-edit"></i>Create new user</header>
    <form class="form-horizontal" role="form" method="POST" {{ form_enctype(userForm) }}  action="{{path('user_new')}}">
        {{ include(
                    'TkglUserBundle:user:_form.html.twig',
                    { 'userForm': userForm, 'action': 'create' }
                ) }}
    </form>
</section>
