<div class="span6">
    {{ include(
    'TkglCoreBundle:deal:_deal.html.twig',
    { 'deal': deal }
) }}
</div>

<div class="span6">
    <section class="panel"><header class="panel-heading"><span class="label bg-danger pull-right">4 left</span>
            Appointments
        </header><div class="pull-out">
            <table class="table table-striped m-b-none text-small">
                <thead><tr>
                        <th>Progress</th>
                        <th>Item</th>                    
                        <th width="70"></th>
                    </tr></thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="progress progress-small progress-striped active m-t-mini m-b-none">
                                <div class="bar bar-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
                            </div>
                        </td>
                        <td>App prototype design</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider">
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress progress-mini m-t-mini m-b-none">
                                <div class="bar bar-info" data-toggle="tooltip" data-original-title="40%" style="width: 40%"></div>
                            </div>
                        </td>
                        <td>Design documents</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider">
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress progress-mini m-t-mini m-b-none">
                                <div class="bar bar-warning" data-toggle="tooltip" data-original-title="20%" style="width: 20%"></div>
                            </div>
                        </td>
                        <td>UI toolkit</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider">
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress progress-mini m-t-mini m-b-none">
                                <div class="bar bar-danger" data-toggle="tooltip" data-original-title="15%" style="width: 15%"></div>
                            </div>
                        </td>
                        <td>Testing</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider">
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<div class="span6">
    <section id="content"><main class="main">
            <section class="comment-list block"><article id="comment-id-1" class="comment-item media arrow-left"><a class="pull-left thumb-small avatar"><img src="images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body panel"><header class="panel-heading clearfix"><a href="#">John smith</a><label class="label bg-info m-l-mini">Editor</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>24 minutes ago</span>
                        </header><div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                        <div class="comment-action m-t-small">
                            <a href="#" data-toggle="class" class="btn btn-white btn-mini active"><i class="icon-star-empty text-muted text"></i><i class="icon-star text-danger text-active"></i>Like</a>
                            <a href="#comment-form" class="btn btn-white btn-mini"><i class="icon-mail-reply text-muted"></i>Reply</a>
                        </div>
                    </section></article><!-- a reply --><article id="comment-id-2" class="comment-item comment-reply media arrow-left"><a class="pull-left thumb-small avatar"><img src="images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body panel"><header class="panel-heading clearfix no-border m-b-n"><a href="#">Mika Sam</a><label class="label bg-inverse m-l-mini">Admin</label> Report this comment is helpful <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>10 minutes ago</span>
                        </header></section></article><!-- a reply end --><article id="comment-id-3" class="comment-item media arrow-left"><a class="pull-left thumb-small avatar"><img src="images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body panel"><header class="panel-heading clearfix"><a href="#">By me</a><label class="label bg-default m-l-mini">User</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>about 1 hour ago</span>
                        </header><div>This comment was posted by you.</div>
                        <div class="comment-action m-t-small">
                            <a href="#comment-id-3" data-dismiss="alert" class="btn btn-white btn-mini"><i class="icon-trash text-muted"></i>Remove</a>
                        </div>
                    </section></article><article id="comment-id-4" class="comment-item media arrow-left"><a class="pull-left thumb-small avatar"><img src="images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body panel"><header class="panel-heading clearfix"><a href="#">Peter</a><label class="label bg-primary m-l-mini">Vip</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>2 hours ago</span>
                        </header><blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
                        <div class="comment-action m-t-small">
                            <a href="#" data-toggle="class" class="btn btn-white btn-mini"><i class="icon-star-empty text-muted text"></i><i class="icon-star text-danger text-active"></i>Like</a>
                            <a href="#comment-form" class="btn btn-white btn-mini"><i class="icon-mail-reply text-muted"></i>Reply</a>
                        </div>
                    </section></article><!-- comment form --><article class="comment-item media" id="comment-form"><a class="pull-left thumb-small avatar"><img src="images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body"><form action="" class="m-t-mini m-b-none row-fluid">
                            <div class="input-append input-append-flush">
                                <input type="text" placeholder="Input your comment here"><button class="btn btn-small btn-primary" type="button">POST</button>
                            </div>
                        </form>
                    </section></article></section><!-- / .comment-list -->
        </main>
    </section>
</div>