
<section class="panel">
    <section class="panel-heading">
        <i class="icon-edit"></i>Edit deal
    </section>
    <section class="panel-content">
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(dealForm) }}  action="{{path('deal_edit', {dealId: deal.id})}}">
            {{ include(
    'TkglCoreBundle:deal:_form.html.twig',
    { 'dealForm': dealForm, 'action': 'edit' }
) }}
        </form>
    </section>
</section>
