{% extends "::base.html.twig" %}
{% block body %}

<div class="col-lg-4">
    <h4>Companies | <a href="{{path('company_new')}}" title="Add new company" class="ajaxLink"> Add</a></h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
    <div id="divTopMiddle">
    </div>            
</div>



<script type="text/javascript">

    $(document).ready(function() {


        $(".ajaxLink").live('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: this.href,
                success: function(response) {
                    $('#divTopMiddle').html(response);
                }
            });
        });

        var submittedForm = null;
        $('form').live('submit', function(e) {
            e.preventDefault();
            submittedForm = $(this);
            postForm(submittedForm, function(response) {
                if (response.success) {
                    switch (response.action) {
                        default:
                            break;
                    }
                } else {                    
                }

            });
        });

        /**
         * Submit form via ajax to the backend
         */
        function postForm($form, callback) {
            // Get all form values    
            var values = {};
            $.each($form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            // Throw the form values to the server!    
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: values,
                success: function(data) {
                    callback(data);
                }
            });
        }
    });
</script>

{% endblock %}