{% extends "::first.html.twig" %}
{% block body %}
    <br>
    <div class="row-fluid">
        <div id="divTopLeft"   class="span5">
   {#         {{ include(
    'TkglUserBundle:userTeam:_list.html.twig',
    { 'teams': teams }
) }}    #}        
        </div>

        <div id="divTopMiddle" class="span7">    
        </div>        
    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            
            loadTeamList();

            $(".ajaxLink").live('click', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: this.href,
                    data: {},
                    success: function(data) {
                        $("#divTopMiddle").html(data);
                    }
                });
            });

            var submittedForm = null;
            $('form').live('submit', function(e) {
                e.preventDefault();
                submittedForm = $(this);
                postForm(submittedForm, function(response) {
                    if (response.success) {
                        loadTeamList();
                    }
                });
            });

            $('.cancelForm').live('click', function() {
                closeDetailView();
            });


        });

        function postForm($form, callback) {
            // Get all form values    
            var values = $form.serialize();

            // Throw the form values to the server!    
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: values,
                success: function(data) {
                    callback(data);
                }
            });
        }

        function loadTeamList() {
            $.ajax({
                type: 'GET',
                url: "{{path('team_list')}}",
                data: {},
                success: function(data) {
                    $("#divTopLeft").html(data);
                }
            });

        }

        function closeDetailView() {
            $("#divTopMiddle").html('');
        }

    </script>

{% endblock %}